.memebox {
  display: grid;
  place-items: center;
  background-color: rgb(235, 219, 250);
  margin: 5%;
}

.memebox img {
  height: 300px;
}

.texto1 {
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 35%;
}

.texto2 {
  font-size: 20px;
  position: absolute;
  bottom: 40%;
  left: 35%;
}
